<dialog id="modal-notificacao">
  <div class="container_modal">
    <img src="/svg/png/img_solzi.png" alt="Solzi">
    <div class="content">
     <h1>TAGARELA</h1>
     <h2>TAREFA</h2>
    </div>
    <h2>12:30</h2>
    <audio id="audio-alarme">
      <source src="/audios/som_alarme.mp3" type="audio/mpeg">
  </audio>
  </div>
</dialog>
<%- include("partials/header.ejs", { cssList: ["style", "addAlarme" ], title: "ADICIONAR" }) -%>
<main>
    <form action="/pessoa/lista/<%= id %>/alarme" method="POST">
    <div class="btns-horario">
      <div class="horario">
        <img src="/svg/png/plus.png" id="btn-aumentar-horas" alt="">
         <input type="time" name="horario" id="tempo" value="00:00">
         <img src="/svg/png/plus.png" id="btn-aumentar-minutos" alt="">
      </div>
    </div>
    <input type="text" id="tarefa" name="acao"placeholder="TAREFA">
    <div class="dias_da_semana">
      <div class="op">
          <label for="segunda">SEGUNDA-FEIRA</label>
          <input type="checkbox" name="dias[]" value="0" id="segunda">
      </div>
      <div class="op">
          <label for="terca">TERÇA-FEIRA</label>
          <input type="checkbox" name="dias[]" value="1" id="terca">
      </div>
      <div class="op">
          <label for="quarta">QUARTA-FEIRA</label>
          <input type="checkbox" name="dias[]" value="2" id="quarta">
      </div>
      <div class="op">
          <label for="quinta">QUINTA-FEIRA</label>
          <input type="checkbox" name="dias[]" value="3" id="quinta">
      </div>
      <div class="op">
          <label for="sexta">SEXTA-FEIRA</label>
          <input type="checkbox" name="dias[]" value="4" id="sexta">
      </div>
      <div class="op">
          <label for="sabado">SÁBADO</label>
          <input type="checkbox" name="dias[]" value="5" id="sabado">
      </div>
      <div class="op">
          <label for="domingo">DOMINGO</label>
          <input type="checkbox" name="dias[]" value="6" id="domingo">
      </div>
  </div>
  <input type="file" name="som" id="som">

    <input type="submit" id="pronto"></input>
</form>
<button id="done">clique</button>
</main>
<%- include('partials/footer', { jsList: ["changeTime"] }) -%>
</div>
<script src="/js/addAlarme.js"></script>
