<dialog id="modal-notificacao">
  <div class="container_modal">
    <img src="/svg/png/img_solzi.png" alt="Solzi">
    <div class="content">
     <h1>TAGARELA</h1>
     <h2>TAREFA</h2>
    </div>
    <h2>12:30</h2>
    <audio id="audio-alarme">
      <source src="/audios/som_alarme.mp3" type="audio/mpeg">
  </audio>
  </div>
</dialog>
<%- include("partials/header.ejs", { cssList: ["style", "addAlarme" ], title: "ADICIONAR" }) -%>
<main>
    <form action="">
    <div class="btns-horario">
      <div class="horario">
        <img src="/svg/png/plus.png" id="btn-aumentar-horas" alt="">
         <input type="time" name="" id="tempo">
         <img src="/svg/png/plus.png" id="btn-aumentar-minutos" alt="">
      </div>
    </div>
    <input type="text" id="tarefa" placeholder="TAREFA">
    <div class="dias_da_semana">
      <div class="op">
      <label for="segunda">SEGUNDA-FEIRA</label>
     <input type="checkbox" value="segunda" id="segunda" placeholder="Segunda">
    </div>
    <div class="op">
     <label for="terca">TERÇA-FEIRA</label>
     <input type="checkbox" value="terca" id="terca" placeholder="Terça">
    </div>
    <div class="op">
     <label for="quarta">QUARTA-FEIRA</label>
     <input type="checkbox" value="quarta" id="quarta" placeholder="Quarta">
    </div>
    <div class="op">
     <label for="quinta">QUINTA-FEIRA</label>
     <input type="checkbox" value="quinta" id="quinta" placeholder="Quinta">
    </div>
    <div class="op">
     <label for="sexta">SEXTA-FEIRA</label>
     <input type="checkbox" value="sexta" id="sexta" placeholder="Sexta">
    </div>
    <div class="op">
     <label for="sabado">SÁBADO</label>
     <input type="checkbox" value="sabado" id="sabado" placeholder="Sábado">
    </div>
    <div class="op">
     <label for="domingo">DOMINGO</label>
     <input type="checkbox" value="domingo" id="domingo" placeholder="Domingo">
    </div>
    </div>
    <input type="submit" id="pronto"></input>
</form>
<button id="done">clique</button>
</main>
<%- include('partials/footer', { jsList: undefined }) -%>
</div>
<script src="/js/addAlarme.js"></script>
