<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/addCards.css">
  <title>Add Cards</title>
</head>

<body>
  <div class="container">
    <section class="note">
      <img src="/svg/tagarela.svg" alt="" class="img-tagarela">
    </section>
    <h1 class="title">ADICIONAR</h1>
    <main>
      <div class="newCard" id="first-card">
        <img src="/svg/png/upload.png" alt="">
        <img src="" alt="">
      </div>
      <input type="text" id="title" placeholder="TÍTULO">
      <input type="text" id="silabas" placeholder="SÍLABAS">


      <a class="addCard"><img src="/svg/png/add.png" alt="">ADICIONAR</a>
        
    </main>
    
    <div id="modal-container" onclick="hideVideo()">
      <div id="modal"></div>
    </div>
    
    <section class="footer">
      <button class="menu"><img src="/svg/cards.svg" href="" alt="" class="img-menu"></button>
      <button class="menu"><img src="/svg/create-cards.svg" alt="" class="img-menu"></button>
      <button class="menu"><img src="/svg/alarms.svg" alt="" class="img-menu"></button>
    </section>
  </div>
  <script src="/js/alimentos.js"></script>
</body>

</html>