<%- include('partials/header', {cssList: ['style','addCards'], title: "Adicionar Cartões" }) -%>

  <main>
    <form action="/pessoa/item" method="POST" enctype="multipart/form-data">
      <input type="text" name="nome" id="title" pattern="[a-zA-Z]+" title="Somente letras" required
        placeholder="PALAVRA">
      <input type="text" name="divisaoSilabica" id="silabas" title="Somente letras" required placeholder="SÍLABAS">

      <div class="card" id="imagem">
        <img src="/svg/png/upload.png" id="img-upload" alt="seta para cima indicando upload de arquivos">
        <input type="hidden" name="rotacao" id="rotacao" value="0">
      <input type="file" id="input-img" title="Por favor utilize apenas formatos de Imagens" required hidden />
    </div>
      <a class="button">ESCOLHER FOTO</a>
      <div class="card" id="video">
        <img src="/svg/png/upload.png" id="" alt="seta para cima indicando upload de arquivos">
        <input type="hidden" name="rotacao" id="rotacao" value="0">
      </div>
      <input type="file"id="input-video" title="Por Favor utilize apenas formatos de Vídeo" required hidden>
      <a class="button">ESCOLHER VÍDEO</a>


      <div class="mic">
        <img src="/svg/png/mic-icon.png" alt="icone de microfone" id = "teste"> 
        <input type="file" id="audio-input" name="audio" style="display: none;">
      </div>

      <input type="file" name="audio" id="audio">
      <a class="button" id="submit_a" style="background-color: #8ECE16;">
        <img src="/svg/png/add.png" alt="icone de cruz representando a funçao de adicionar">
        ADICIONAR CARD
        <input type="submit" id="enviar" hidden>
      </a>
    </form>


  </main>
  <script src="/js/addCards.js"></script>
  <script>
    const img = document.getElementById('img-upload')
    const rotacao = document.getElementById("rotacao")
    let rotationDegrees = 0;
    img.addEventListener("click", function () {
      rotationDegrees += 60;
      img.style.transform = `rotate(${rotationDegrees}deg)`;
      rotacao.value = rotationDegrees % 360;
      console.log(rotacao.value % 360)
    });



</script>
  <%- include('partials/footer', { jsList: ["microfone"] }) -%>