<%- include('partials/header', { cssList: ['style','addCards'], title: "Adicionar Cartões"}) -%>

    <main>
      <div class="newCard" id="first-card">
        <img src="/svg/png/upload.png" alt="">
        <img src="" alt="">
      </div>
      <a class="foto">ESCOLHER FOTO</a>

      <input type="text" id="title" placeholder="TÍTULO">
      <input type="text" id="silabas" placeholder="SÍLABAS">

      <div class="newCard2">
        <img src="/svg/png/upload.png" alt="">
        <img src="" alt="">
      </div>
      <a class="foto">ESCOLHER VÍDEO</a>

      <a class="addCard"><img src="/svg/png/add.png" alt="">ADICIONAR CARD</a>
        
    </main>
    
<%- include('partials/footer') -%>