<%- include('partials/header', { cssList: ["addCards"], title: "Meus Cards" }) -%>

    <main>
      <div class="newCard" id="first-card">
        <img src="/svg/png/upload.png" alt="">
        <img src="" alt="">
      </div>
      <input type="text" id="title" placeholder="TÍTULO">
      <input type="text" id="silabas" placeholder="SÍLABAS">


      <a class="addCard"><img src="/svg/png/add.png" alt="">ADICIONAR</a>
        
    </main>
    
    <div id="modal-container" onclick="hideVideo()">
      <div id="modal"></div>
    </div>
    
<%- include('partials/footer') -%>