<%- include('partials/header', {cssList: ['style','addCards'], title: "Adicionar Cartões" }) -%>

  <main>
    <form action="/item" method="POST" enctype="multipart/form-data">
      <input type="text" name="nome" id="title" pattern="[a-zA-Z]+" title="Somente letras" required
        placeholder="PALAVRA">
      <input type="text" name="divisaoSilabica" id="silabas" title="Somente letras" required placeholder="SÍLABAS">
      <div class="card image">
        <img src="/svg/upload.svg" alt="seta para cima indicando upload de arquivos">
      </div>

      <img class="card target" src="#" style="display: none;">
      <input type="file" accept="image/*" title="Por favor utilize apenas formatos de Imagens" required hidden />
      <a class="button image" id="image">ESCOLHER FOTO</a>

      <div class="card video">
        <video id="video" style="display: none;" src="#"></video>
        <canvas id="canvas" style="display: none;"></canvas>
        <img src="/svg/upload.svg" id="imagemRotacao" alt="seta para cima indicando upload de arquivos">
      </div>
      <img class="card target" src="#" style="display: none;">

      <input type="hidden" name="rotacao" id="rotacao" value="0">
      <input type="file" accept="video/*" title="Por Favor utilize apenas formatos de Vídeo" required hidden>
      <a class="button video">ESCOLHER VÍDEO</a>

      <div style="display: flex; flex-direction: row; width: 75%;">
        <div class="controls" id="startRecording" onclick="initRecord()">
          <img src="/svg/mic.svg" alt="icone de microfone">
        </div>
        <div class="controls" id="stopRecording" style="display: none;">
          <img src="/svg/stop.svg" style="width: 116px;" alt="icone de parar gravação">
        </div>
        <button class="controls" id="playRecording" disabled style=" border: none;">
          <img src="/svg/play.svg" alt="icon de inicar">
        </button>
      </div>
      <input type="file" accept="audio/*" id="audioInput">

      <input type="file" name="audio" id="audio">
      <a class="button" style="background-color: #8ECE16;">
        <img src="/svg/png/add.png" alt="icone de cruz representando a funçao de adicionar">
        ADICIONAR CARD
        <input type="submit" id="enviar" hidden>
      </a>
    </form>

  </main>
  <script defer src="/js/addCards.js"></script>
  <script defer src="/js/audiorecorder.js"></script>
  <script>
    const img = document.getElementById('imagemRotacao')
    const rotacao = document.getElementById("rotacao")
    let rotationDegrees = 0;
    img.addEventListener("click", function () {
      rotationDegrees += 60;
      img.style.transform = `rotate(${rotationDegrees}deg)`;
      rotacao.value = rotationDegrees % 360;
      console.log(rotacao.value % 360)
    });


  </script>
  <%- include('partials/footer', { jsList: undefined }) -%>