<%- include('partials/header',{cssList: ['style','addCards'], title: "Adicionar Cartões" }) -%>

  <main>
    <form action="/pessoa/666786e29778e28ad6119add/item" method="POST" enctype="multipart/form-data">
      <input type="text" name="nome" id="title" pattern="[a-zA-Z]+" title="Somente letras" required
        placeholder="PALAVRA">
      <input type="text" name="divisaoSilabica" id="silabas" title="Somente letras" required placeholder="SÍLABAS">

      <div class="card" id="image">
        <img src="/svg/png/upload.png" alt="seta para cima indicando upload de arquivos">
      </div>
      <input type="file" accept="image/*" id="img_card" title="Por favor utilize apenas formatos de Imagens" required
        hidden />
      <a class="button">ESCOLHER FOTO</a>


      <div class="card" id="video">
        <img src="/svg/png/upload.png" alt="seta para cima indicando upload de arquivos">
      </div>
      <input type="file" accept="video/*" title="Por Favor utilize apenas formatos de Vídeo" required hidden>
      <a class="button">ESCOLHER VÍDEO</a>

      <input type="file" name="audio" id="audio">
      <a class="button" style="background-color: #8ECE16;">
        <img src="/svg/png/add.png" alt="icone de cruz representando a funçao de adicionar">
        ADICIONAR CARD
        <input type="submit" id="enviar" hidden>
      </a>
    </form>


  </main>
  <script src="/js/addCards.js"></script>
  <%- include('partials/footer', { jsList: ["addCards"] }) -%>