<%- include("partials/header.ejs", { cssList: ["style.css", "addList" ], title: "ADICIONAR" }) -%>
    <form action="">
    <div class="container">
    <div class="btns-horario">
      <div class="horario">
         <input type="time" name="" id="tempo">
      </div>
      
    </div>
    <input type="text" id="tarefa" placeholder="TAREFA">
    <div class="dias_da_semana">
      <p>DIAS DA SEMANA</p>
      <img src="/svg/png/arrowGreen.png" alt="" id="img-card">
    </div>
    <input type="submit" id="pronto"></input>
  </div>
</form>
<script src="/js/addList.js"></script>
  <%- include('partials/footer', { jsList: undefined }) -%>