<%- include("partials/header", { cssList: ["style", "alimentos" ], title: "ALIMENTOS" }) -%>
  <main>
    <a class="card-1" onclick="showVideo('BANANA', 'BA-NA-NA')" id="first-card">
      <img src="/svg/png/banana.png" alt="">
      <p>BANANA</p>
    </a>
    <a class="card-1" onclick="showVideo('CENOURA', 'CE-NOU-RA')">
      <img src="/svg/png/carrot.png" alt="">
      <p>CENOURA</p>
    </a>
    <a class="card-1" onclick="showVideo('SANDUÍCHE', 'SAN-DUÍ-CHE')">
      <img src="/svg/png/sandwich.png" alt="">
      <p>SANDUÍCHE</p>
    </a><a class="card-1" onclick="showVideo('MAÇÃ', 'MA-ÇÃ')">
      <img src="/svg/png/red-apple.png" alt="">
      <p>MAÇÃ</p>
    </a><a class="card-1" onclick="showVideo('MELANCIA', 'ME-LAN-CIA')">
      <img src="/svg/png/watermelon.png" alt="">
      <p>MELANCIA</p>
    </a><a class="card-1" onclick="showVideo('OVO', 'OVO')">
      <img src="/svg/png/egg.png" alt="">
      <p>OVO</p>
    </a>
    <a class="card-1" onclick="showVideo('PÃO', 'PÃO')" id="last-card">
      <img src="/svg/png/bread.png" alt="">
      <p>PÃO</p>
    </a>
    <script src="/js/alimentos.js"></script>
  </main>

  <div id="modal-container" onclick="hideVideo()">
    <div id="modal"></div>
  </div>

  <%- include('partials/footer', { jsList: undefined }) -%>
