<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/rotina.css">
  <title>Basicas</title>
</head>

<body>
  <div class="container">
    <section class="note">
      <img class="sun" src="/svg/sunWithBookReverse.svg" alt="">
      <h1 class="title">BASICAS</h1>
    </section>
    <main>
      <a class="card-1" href="/">
        <img src="/svg/boy.svg" alt="">
        <p>CORPO</p>
      </a>
      <a class="card-1" href="/">
        <img src="/svg/school.svg" alt="">
        <p>LUGARES</p>
      </a>
    </main>
    <section class="footer">
      <button class="menu"><img src="/svg/cards.svg" alt="" class="img-menu"></button>
      <button class="menu"><img src="/svg/communication.svg" alt="" class="img-menu"></button>
      <button class="menu"><img src="/svg/profile.svg" alt="" class="img-menu"></button>
    </section>
  </div>
  <script src="/js/main.js"></script>
</body>

</html>