<%- include("partials/header.ejs", { cssList: ["style", "dias_da_semana" ], title: "LISTAS" }) -%>
  <main>
    <div class="list" id="firstList">
      <p>DIAS DA SEMANA</p>
    </div>
    <div class="segunda">
      <p>TODA SEGUNDA-FEIRA</p>
    </div>
    <a class="terca" href="">
      <p>TODA TERÇA-FEIRA</p>
    </a>
    <a class="quarta">
      <p>TODA QUARTA-FEIRA</p>
    </a>
    <a class="quinta">
      <p>TODA QUINTA-FEIRA</p>
    </a>
    <a class="sexta">
      <p>TODA SEXTA-FEIRA</p>
    </a>
    <a class="sabado">
      <p>TODO SÁBADO</p>
    </a>
    <a class="domingo">
      <p>TODO DOMINGO</p>
    </a>
  </main>
  dialog
  
  <%- include('partials/footer', { jsList: undefined }) -%>