<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/emocoes.css">
  <title>Emoções</title>
</head>

<body>
  <div class="container">
    <section class="note">
      <img class="sun" src="/svg/sun 2.svg" alt="">
      <h1 class="title">EMOÇÕES</h1>
    </section>
    <main>
      <a class="card-1" href="/basicas">
        <img src="/svg/happy.svg" alt="">
        <p>ALEGRIA</p>
      </a>
      <a class="card-1" href="/">
        <img src="/svg/love.svg" alt="">
        <p>AMOR</p>
      </a>
      <a class="card-1" href="/">
        <img src="/svg/sad.svg" alt="">
        <p>TRISTEZA</p>
      </a>
      <a class="card-1" href="/">
        <img src="/svg/angry.svg" alt="">
        <p>RAIVA</p>
      </a>
      <a class="card-1" href="/">
        <img src="/svg/surprise.svg" alt="">
        <p>SURPRESA</p>
      </a>
    </main>
    <section class="footer">
      <button class="menu"><img src="/svg/cards.svg" alt="" class="img-menu"></button>
      <button class="menu"><img src="/svg/communication.svg" alt="" class="img-menu"></button>
      <button class="menu"><img src="/svg/profile.svg" alt="" class="img-menu"></button>
    </section>
  </div>
  <script src="/js/main.js"></script>
</body>

</html>