<%- include("partials/header.ejs", {cssList: ["style", "listas" ], title: "Listas" }) -%>
  <main>
    <div class="listas">
      <a class="addList" id="first-card">
        <img src="/svg/png/plus.png" alt="" class="img-card">
        <p>ADICIONAR LISTA</p>
      </a>
      <a class="lists" href="/listas_fimDeSemana" id="firstList">
        <img src="/svg/png/arrowGreen.png" alt="" class="img-card">
        <p>FINAL DE SEMANA</p>
      </a>
      <a class="lists" href="/necessidades">
        <img src="/svg/png/arrowRed.png" alt="" class="img-card">
        <p>MEIO DE SEMANA</p>
      </a>
      <a class="lists" href="/necessidades">
        <img src="/svg/png/arrowBlue.png" alt="" class="img-card">
        <p>CASA DA VOVÓ GI</p>
      </a>
    </div>
  </main>
  <%- include('partials/footer', { jsList: ["main"] }) -%>
  <dialog id="modal-listas">
    <form action="" method="POST">
      <h1>Adicionar Lista</h1>
      <input type="text" id="nome_lista" placeholder="Nome da Lista" pattern="[a-zA-Z]+" required >
      <div class="enc">
      <input type="submit" id="enviar"><button id="fechar">Fechar</button>
    </div>
    </form>
  </dialog>
  <script src="/js/listas.js"></script>
