<%- include("partials/header.ejs", {cssList: ["style", "listas" ], title: "LISTAS" }) -%>
  <main>
    <a class="addList" href="/necessidades" id="first-card">
      <img src="/svg/png/plus.png" alt="" class="img-card">
      <p>ADICIONAR LISTA</p>
    </a>
    <a class="lists" href="/listas_fimDeSemana" id="firstList">
      <img src="/svg/png/arrowGreen.png" alt="" class="img-card">
      <p>FINAL DE SEMANA</p>
    </a>
    <a class="lists" href="/necessidades">
      <img src="/svg/png/arrowRed.png" alt="" class="img-card">
      <p>MEIO DE SEMANA</p>
    </a>
    <a class="lists" href="/necessidades">
      <img src="/svg/png/arrowBlue.png" alt="" class="img-card">
      <p>CASA DA VOVÓ GI</p>
    </a>

  </main>
  <%- include('partials/footer', { jsList: ["main"] }) -%>