<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/listas.css">
  
  <title>Listas</title>
</head>

<body>
  <div class="container">
    <section class="note">
      <img src="/svg/tagarela.svg" alt="" class="img-tagarela">
      </section>
    <h1 class="title">LISTAS</h1>
    <main>
      <a class="addList" href="/necessidades" id="first-card">
        <img src="/svg/png/plus.png" alt="" class="img-card">
        <p>ADICIONAR LISTA</p>
      </a>
      <a class="lists" href="/necessidades" id="firstList">
        <img src="/svg/png/arrowGreen.png" alt="" class="img-card">
        <p>FINAL DE SEMANA</p>
      </a>
      <a class="lists" href="/necessidades">
        <img src="/svg/png/arrowRed.png" alt="" class="img-card">
        <p>MEIO DE SEMANA</p>
      </a>
      <a class="lists" href="/necessidades">
        <img src="/svg/png/arrowBlue.png" alt="" class="img-card">
        <p>CASA DA VOVÓ GI</p>
      </a>
    
    </main>
    <section class="footer">
      
        <button class="menu"><img src="/svg/cards.svg" alt="" class="img-menu"></button>
    
     
        <button class="menu"><img src="/svg/create-cards.svg" alt="" class="img-menu"></button>
      
     
        <button class="menu"><img src="/svg/alarms.svg" alt="" class="img-menu"></button>
      
      
      
      
    </section>
  </div>
  <script src="/js/main.js"></script>
</body>

</html>