<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/listas_fimDeSemana.css">
  <title>Listas</title>
</head>

<body>
  <div class="container">
    <section class="note">
      <img src="/svg/tagarela.svg" alt="" class="img-tagarela">
      </section>
    <h1 class="title">LISTAS</h1>
    <main>
      <a class="addList" href="/addList" id="first-card">
        <img src="/svg/png/plus.png" alt="" class="img-card">
      </a>
      <div class="list" href="/necessidades" id="firstList">
        <p>FINAL DE SEMANA</p>
      </div>
      <div class="lists" href="/necessidades">
        <p>13:33</p>
        <p>REMÉDIO</p>
      </div>
      <a class="lists" href="/necessidades">
        <p>13:45</p>
        <p>ALMOÇO</p>
      </a>
      <a class="lists" href="/necessidades">
        <p>17:20</p>
        <p>PASSEAR COM TOBI</p>
      </a>
      <a class="lists" href="/necessidades">
        <p>20:00</p>
        <p>TOMAR BANHO</p>
      </a>
    
    </main>
    <section class="footer">
      
        <button class="menu"><img src="/svg/cards.svg" alt="" class="img-menu"></button>
    
     
        <button class="menu"><img src="/svg/create-cards.svg" alt="" class="img-menu"></button>
      
     
        <button class="menu"><img src="/svg/alarms.svg" alt="" class="img-menu"></button>
      
      
      
      
    </section>
  </div>
  <script src="/js/main.js"></script>
</body>

</html>