<%- include("partials/header.ejs", {cssList: ["style", "listas" ], title: "LISTAS" }) -%>
  <main>
    <div class="listas">
      <a class="addList" id="first-card">
        <img src="/svg/png/plus.png" alt="" class="img-card">
        <p>ADICIONAR LISTA</p>
      </a>
        <% if (listas) { %>
          <% listas.forEach(lista => { %>
            <a class="lists" href="/pessoa/lista/<%= lista.id %>">
              <img src="/svg/png/arrowGreen.png" alt="" class="img-card">
              <p id="nome-lista"><%= lista.nome %></p>
            </a>
          <% }); %>
        <% } %>
      </div>
  </main>
  <%- include('partials/footer', { jsList: ["main"] }) -%>
  <dialog id="modal-listas">
    <form action="/pessoa/lista" method="POST" id="form-listas">
      <h1>Adicionar Lista</h1>
      <input type="text" id="nome_lista" name="nome" placeholder="Nome da Lista" required >
      <div class="enc">
      <input type="submit" id="enviar">
      <button id="fechar">Fechar</button>
    </div>
    </form>
  </dialog>
  <script src="/js/listas.js"></script>
