<%- include('partials/header', { cssList: ["style", "mainPage" ], title: "ÍNICIO" }) -%>
  <main>
    <div class="cards">
    <%- include('components/link', { links: [
      { routeTo: "necessidades", icon: "plate", text: "NECESSIDADE" },
      { routeTo: "", icon: "shower", text: "ATIVIDADE" },
      { routeTo: "emocoes", icon: "communication", text: "COMUNICAÇÃO" },
      { routeTo: "emocoes", icon: "emotion", text: "EMOÇÃO" },
      { routeTo: "meusCards", icon: "frame", text: "MEUS CARTÕES" },
      
    ]}) -%>
  </div>
  </main>
<%- include('partials/footer', { jsList: undefined }) -%>
