<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/mainPage.css">
    <title>Main Page</title>
</head>
<body>
    <div class="container">
        <section class="note">
            <div class="title">ÍNICIO</div>
            <img src="../public/svg/png/sunBook.png" alt="">
        </section>
    </div>
</body>
</html>