<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/mainPage.css">
  <title>Main Page</title>
</head>

<body>
  <div class="container">
    <section class="note">
      <img class="sun" src="/svg/sunWithBook.svg" alt="">
      <h1 class="title">ÍNICIO</h1>
    </section>
    <main>
      <a class="card" href="/">
        <img src="/svg/emoji-basics.svg" alt="" class="img-card1">
        <p>BÁSICAS</p>
      </a>
      <a class="card" href="/">
        <img src="/svg/emoji-studies.svg" alt="" class="img-card1">
        <p>ESTUDOS</p>
      </a>
      <a class="card" href="/rotina">
        <img src="/svg/emoji-routine.svg" alt="" class="img-card1">
        <p>ROTINA</p>
      </a>
      <a class="card" href="/">
        <img src="/svg/emoji-emotions.svg" alt="" class="img-card1">
        <p>EMOÇÕES</p>
      </a>
    </main>
    <section class="footer">
      
        <button class="menu"><img src="/svg/cards.svg" alt="" class="img-menu"></button>
    
     
        <button class="menu"><img src="/svg/communication.svg" alt="" class="img-menu"></button>
      
     
        <button class="menu"><img src="/svg/profile.svg" alt="" class="img-menu"></button>
      
      
      
      
    </section>
  </div>
  <script src="/js/main.js"></script>
</body>

</html>