<%- include("partials/header", { cssList: ["style", "meusCards", "modal"], title: "MEUS CARDS" } ) -%>
    <main>
      <div class="cards">
        <% if(cards) { %>
          <% cards.forEach(card => { %>
            <%- include("components/videoMeusCards", { cardList: [{
              nome: card.nome,
              divisaoSilabica: card.divisaoSilabica,
              imagens: card.imagens[0].url,
              video: card.video,
              audio: card.audio
            }]}) %>
          <% }) %>
        <% } %>
      <a class="addCard" href="../addCards"><img src="/svg/png/add.png" alt="">ADICIONAR CARD</a>
    </div>
    
        
    </main>
    <%- include('partials/footer', { jsList: ["meusCards"] }) -%>
    
    <div id="modal-container" onclick="hideVideo()">
      <div id="modal"></div>
    </div>

