<%- include("partials/header", { cssList: ["style", "meusCards", "modal"], title: "MEUS CARDS" }) -%>
    <main>
      <a class="card" onclick="showVideo('SOLZI', 'SOL-ZI')" id="first-card">
        <img src="/svg/png/solzi.png" alt="">
        <p>SOLZI</p>
      </a>

      <a class="addCard" href="addCards"><img src="/svg/png/add.png" alt="">ADICIONAR CARD</a>
        
    </main>
    
    <div id="modal-container" onclick="hideVideo()">
      <div id="modal"></div>
    </div>

<%- include('partials/footer', { jsList: ["alimentos"]}) -%>