<%- include('partials/header', { cssList: ["style" ], title: "Necessidades" }) -%>

  <main>
    <div class="cards">
      <a class="card-1" href="/alimentos" id="first-card">
        <img src="/svg/png/red-apple.png" alt="">
        <p>ALIMENTOS</p>
      </a>
      <a class="card-1" href="/">
        <img src="/svg/png/toilet.png" alt="">
        <p>BANHEIRO</p>
      </a>
      <a class="card-1" href="/" id="last-card">
        <img src="/svg/png/t-shirt.png" alt="">
        <p>ROUPAS</p>
      </a>
    </div>
  </body>


  </main>
  <%- include('partials/footer', { jsList: ["alimentos"] }) -%>

</div>


  <script src="/js/main.js"></script>

    </html>