<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/necessidades.css">
  <title>Basicas</title>
</head>

<body>
  <div class="container">
    <section class="note">
      <img src="/svg/tagarela.svg" alt="" class="img-tagarela">
    </section>
    <h1 class="title">NECESSIDADES</h1>
    <main>
      <a class="card-1" href="/alimentos" id="first-card">
        <img src="/svg/png/red-apple.png" alt="">
        <p>ALIMENTOS</p>
      </a>
      <a class="card-1" href="/">
        <img src="/svg/png/toilet.png" alt="">
        <p>BANHEIRO</p>
      </a>
      <a class="card-1" href="/" id="last-card">
        <img src="/svg/png/t-shirt.png" alt="">
        <p>ROUPAS</p>
      </a>
    </main>
    <section class="footer">
      <button class="menu"><img src="/svg/cards.svg" alt="" class="img-menu"></button>
      <button class="menu"><img src="/svg/create-cards.svg" alt="" class="img-menu"></button>
      <button class="menu"><img src="/svg/alarms.svg" alt="" class="img-menu"></button>
    </section>
  </div>
  <script src="/js/main.js"></script>
</body>

</html>