<%- include('partials/header', { cssList: ["style", "praticar"], title: "Praticar" }) -%>
    <main>
      <div class="escolha-jogos">
      <a class="modo modo-facil" href="/quiz">
        <img src="/svg/png/smile-emoji.png" alt="">
        <p>MODO FÁCIL</p>
        <img src="/svg/png/arrowGreen.png" alt="" class="img-card">
      </a>
      <a class="modo modo-medio" href="/quiz">
        <img src="/svg/png/ok-emoji.png" alt="">
        <p>MODO MÉDIO</p>
        <img src="/svg/png/arrowBlue.png" alt="" class="img-card">
      </a>
      <a class="modo modo-dificil" href="/quiz">
        <img src="/svg/png/sad-emoji.png" alt="">
        <p>MODO DIFÍCIL</p>
        <img src="/svg/png/arrowRed.png" alt="" class="img-card">
      </a>
    </div>
    </main>
    <%- include('partials/footer', { jsList: ["alimentos"] }) -%>
  </div>
  <script src="/js/main.js"></script>
</body>

</html>