<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/rotina.css">
  <title>Rotina</title>
</head>

<body>
  <div class="container">
    <section class="note">
      <img class="sun" src="/svg/sunWithBookReverse.svg" alt="">
      <h1 class="title">ROTINA</h1>
    </section>
    <main>
      <a class="card-1" href="/basicas">
        <img src="/svg/apple.svg" alt="">
        <p>BÁSICAS</p>
      </a>
      <a class="card-1" href="/">
        <img src="/svg/car.svg" alt="">
        <p>VEÍCULOS</p>
      </a>
      <a class="card-1" href="/">
        <img src="/svg/bola.svg" alt="">
        <p>ESPORTES</p>
      </a>
      <a class="card-1" href="/">
        <img src="/svg/cachorro.svg" alt="">
        <p>ANIMAIS</p>
      </a>
      <a class="card-1" href="/">
        <img src="/svg/flor.svg" alt="">
        <p>NATUREZA</p>
      </a>
    </main>
    <%- include('partials/footer', { jsList: ["alimentos"] }) -%>
  </div>
  <script src="/js/main.js"></script>
</body>

</html>