<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Splash</title>
  <link rel="stylesheet" href="/css/splash.css">
</head>

<body>
  <main>
    <section class="cloud_container">
      <img src="/svg/cloud.svg" alt="a white cloud">
    </section>
    <section class="cloud_container">
      <img src="/svg/cloud.svg" alt="a white cloud">
    </section>
    <section class="sun_container">
      <img src="/svg/sun.svg" alt="" srcset="">
    </section>
  </main>
  <%- include('partials/footer', { jsList: ["alimentos"] }) -%>
</body>
<script defer src="/js/splash.js"></script>

</html>