@font-face {
    font-family: montserrat-regular;
    src: url(../fonts/Montserrat-Regular.ttf);
}

form{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

#tempo {
    padding-top: 5%;
    border: none;
    outline: none;
    font-size: 64px;
    font-family: montserrat-semiBold;
    background-color: #C5EEFF;
    color: #5E890F;
    appearance: none;
    width: 100%;
   
}

#tempo::-webkit-calendar-picker-indicator{
    display: none;
}

#dias_semana {
    width: 100%;
    height: 100%;
    border: 3px solid #5E890F;
    border-radius: 2px;
    color: #5E890F;
    font-size: 20px;
    background-color: #ffffff;
}

.title{
    background-color: #F15562;
}

#tarefa {
    width: 65%;
    height: 7%;
    border-width: 0px 0px 3px 0px;
    outline: none;
    border-style: none none solid none;
    border-color: #5E890F;
    background-color: #C5EEFF;
    color: #5E890F;
    font-size: 24px;
    font-family: montserrat-regular;
    padding-left: 10px;
}

#tarefa::placeholder {
    color: #5E890F;
    font-size: 24px;
}

.img-card {
    width: 50px;
    height: 50px;
}

.btns-horario {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.horario {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family: montserrat-semiBold;
    color: #5E890F;
}

.horario > h1 {
    margin: 0% 5%;
}

input[type=checkbox] {
    accent-color: #5E890F;
}

.dias_da_semana {
    background-color: #B0F1B3;
    max-width: 950px;
    width: 65%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.dias_da_semana div:last-of-type {
    border-bottom: 1px solid #5E890F;
}

.op{
    width: 100%;
    height: 50%;
    color: #5E890F;
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #5E890F;
    font-family: montserrat-regular;
    font-size: 18px;
    padding-left: 10px;
    border-bottom: none;
}

.op input {
    width: 20%;
    height: 55%;
    
}

.dias_da_semana > P {
    color: #5E890F;
    font-size: 24px;
    font-family: montserrat-semiBold;
    margin: 0;
}

.dias_da_semana > img {
    width: 13%;
    height:65%;
}
.btns {
    width: 70%;
    height: 20%;
    display: flex;
    justify-content: space-between;
}

.pronto {
    border: 0px;
    width: 40%;
    height: 8%;
    background-color:#8ECE16;
    display: flex;
    border-radius: 20px;
    color: #ffffff;
    font-size: 20px;
    font-family: montserrat-semiBold;
    justify-content: center;
    align-items: center;
    border: 0px;
    box-shadow: 0 4px 4px 0 #0000007f;
    &:hover{
        filter: brightness(90%);
    }
}

#editar {
    width: 50%;
    height: 40%;
    background-color: #FFD73D;
    margin-top: 10%;
    display: flex;
    border-radius: 20px;
    color: #ffffff;
    font-size: 20px;
    font-family: montserrat-semiBold;
    justify-content: center;
    align-items: center;
    border: 0px;
    box-shadow: 0 2px 2     px 0 #0000007f;
}

#deletar {
    width: 40%;
    height: 40%;
    background-color: #F15562;
    margin-top: 10%;
    display: flex;
    border-radius: 20px;
    color: #ffffff;
    font-size: 20px;
    font-family: montserrat-semiBold;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-shadow: 0 2px 2px 0 #0000007f;
}

.addList {
    background-color: #8ECE16;
    color: #ffffff;
    border-radius: 18px;
    width: 15%;
    height: 8%;
    min-height: 5%;
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin-bottom: 7%;
    font-size: 22px;
    align-items: center;
}

.list {
    width: 100%;
    height: 6%;
    background-color: #8ECE16;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    justify-content: flex-end;
    color: #ffffff;
}

.list > p {
    margin: 0% 4%;
}

.lists {
    width: 100%;
    height: 10%;
    background-color: #b5ff70;
    text-decoration: none;
    font-size: 20px;
    font-family: montserrat-bold;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
}

#first-card {
    margin-top: 40%;
    margin-left: 70%;
}

.lists > p {
    margin: 0% 4%;
    color: #5E890F;
}
.img-card {
    width: 50px;
    height: 50px;
}

.footer{
    width: 100%;
    background-color: #ffffff;
    height: 10%;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.menu{
    border: none;
    background: none;
}

#modal-notificacao {
    width: 90%;
    height: 8%;
    border-radius: 50px;
    background-color: #302C2C;
    transform: translateY(-20vh);
    transition: all 0.8s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    justify-self: center;
}

#modal-notificacao.translate{
    transform: translateY(5vh);
}

#modal-notificacao::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
}

.container_modal {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: montserrat-regular;
}

.container_modal > img {
    margin-right: 3%
}

.container_modal > h2 {
    font-size: 15px;
    color: #A4A4A4;
    margin-right: 5%
}

.content {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-right: 40%;
}

.content > h1 {
    font-size: 20px;
    color: #E4D8D8;
}

.content > h2 {
    font-size: 15px;
    color: #A4A4A4;
}