* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

@font-face {
    font-family: montserrat-bold;
    src: url(../fonts/Montserrat-Bold.ttf);
}
@font-face {
    font-family: montserrat-black;
    src: url(../fonts/Montserrat-Black.ttf);
}
@font-face {
    font-family: montserrat-semiBold;
    src: url(../fonts/Montserrat-SemiBold.ttf);
}
@font-face {
    font-family: montserrat-medium;
    src: url(../fonts/Montserrat-Medium.ttf);
}

body {
    margin: 0;
    padding: 0;
}

.container {
    background-color: #C5EEFF;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 87vh;
    align-items: center;
}

#tempo {
    border: none;
    outline: none;
    margin-top: 25%;
    margin-left: 1%;
    font-size: 64px;
    font-family: montserrat-semiBold;
    background-color: #C5EEFF;
    color: #5E890F;
    appearance: none;
    width: 100%;
   
}

#tempo::-webkit-calendar-picker-indicator{
    display: none;
}

#dias_semana {
    width: 100%;
    height: 100%;
    border: 3px solid #5E890F;
    border-radius: 2px;
    color: #5E890F;
    font-size: 20px;
    background-color: #ffffff;
}

.note {
    width: 100%;
    height: 15%;
    background-color: #ffffff;
    flex: 1;
    display: flex;
    position: fixed;
    border-radius: 0px 0px 40px 40px;
    flex-flow: column nowrap;
    align-items: center;
}

.img-tagarela {
    margin-top: 14%;
}

main {
    width: 100vw;
    flex: 4;
    background-image: url("../svg/background-main.svg");
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    padding-top: 10%;
}

.title {
    background-color: #F15562;
    text-align: center;
    width: 45%;
    padding: 10px;
    position: fixed;
    border-radius: 80px;
    color: white;
    font-weight: bold;
    font-size: 28px;
    font-family: montserrat-bold;
    margin-top: 25%;
}

#tarefa {
    width: 65%;
    height: 7%;
    border-width: 0px 0px 3px 0px;
    border-style: none none solid none;
    border-color: #5E890F;
    background-color: #C5EEFF;
    margin-top: 20%;
}

#tarefa::placeholder {
    color: #5E890F;
    font-size: 24px;
}

.img-card {
    width: 50px;
    height: 50px;
}

.btns-horario {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mais {
    margin-top: 40%;
    margin-left: 5%;
    margin-right: 5%;
}

.horario {
    margin-top: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family: montserrat-semiBold;
    color: #5E890F;
}

.horario > h1 {
    margin: 0% 5%;
}

.dias_da_semana {
    width: 65%;
    height: 50%;
    border-style: none none solid none;
    background-color: #C5EEFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 8%;
}

.op{
    width: 100%;
    height: 50%;
    color: #5E890F;
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.op > input {
    width: 20%;
    height: 80%;
}

.dias_da_semana > P {
    color: #5E890F;
    font-size: 24px;
    font-family: montserrat-semiBold;
    margin: 0;
}

.dias_da_semana > img {
    width: 13%;
    height:65%;
}

#pronto {
    width: 50%;
    height: 50%;
    background-color: #FFD73D;
    margin-top: 10%;
    display: flex;
    border-radius: 60px;
    color: #ffffff;
    font-size: 20px;
    font-family: montserrat-semiBold;
    justify-content: center;
    align-items: center;
}

#deletar {
    width: 40%;
    height: 50%;
    background-color: #F15562;
    margin-top: 10%;
    display: flex;
    border-radius: 60px;
    color: #ffffff;
    font-size: 20px;
    font-family: montserrat-semiBold;
    justify-content: center;
    align-items: center;
}

.addList {
    background-color: #8ECE16;
    color: #ffffff;
    border-radius: 18px;
    width: 15%;
    height: 8%;
    min-height: 5%;
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin-bottom: 7%;
    font-size: 22px;
    align-items: center;
}

.list {
    width: 100%;
    height: 6%;
    background-color: #8ECE16;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    justify-content: flex-end;
    color: #ffffff;
}

.list > p {
    margin: 0% 4%;
}

.lists {
    width: 100%;
    height: 10%;
    background-color: #b5ff70;
    text-decoration: none;
    font-size: 20px;
    font-family: montserrat-bold;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
}

#first-card {
    margin-top: 40%;
    margin-left: 70%;
}

.lists > p {
    margin: 0% 4%;
    color: #5E890F;
}
.img-card {
    width: 50px;
    height: 50px;
}

.footer{
    width: 100%;
    background-color: #ffffff;
    height: 10%;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.menu{
    border: none;
    background: none;
}

.btns {
    width: 70%;
    height: 20%;
    display: flex;
    justify-content: space-between;
}