#tarefa {
    width: 65%;
    height: 7%;
    border-width: 0px 0px 3px 0px;
    border-style: none none solid none;
    border-color: #5E890F;
    background-color: #C5EEFF;
    margin-top: 20%;
}

#tarefa::placeholder {
    color: #5E890F;
    font-size: 24px;
}

.img-card {
    width: 50px;
    height: 50px;
}

.btns-horario {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.horario {
    margin-top: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family: montserrat-semiBold;
    color: #5E890F;
}

.horario > h1 {
    margin: 0% 5%;
}

.dias_da_semana {
    width: 65%;
    height: 50%;
    border-style: none none solid none;
    background-color: #C5EEFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 8%;
}

.op{
    width: 100%;
    height: 50%;
    color: #5E890F;
    background-color: #B0F1B3;
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0.5px  solid #859b5d;
    border-bottom: none;
}

#op-ultimo {
    border-bottom: 0.5px solid #859b5d;
}

.op > input {
    width: 17%;
    height: 70%;
}

.op > label {
    margin-left: 4%;
}

.dias_da_semana > P {
    color: #5E890F;
    font-size: 24px;
    font-family: montserrat-medium;
    margin: 0;
}

.dias_da_semana > img {
    width: 13%;
    height:65%;
}




.footer {
    display: flex;
    position: fixed;
    flex-direction: row;
    width: 100%;
    height: 10%;
    bottom: 0px;
    padding: 20px;
    align-self: flex-end;
    justify-content: space-around;
    background-color: #ffffff;
}

.menu {
    border: none;
    background: none;
}
