* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

@font-face {
    font-family: montserrat-bold;
    src: url(../fonts/Montserrat-Bold.ttf);
}
@font-face {
    font-family: montserrat-black;
    src: url(../fonts/Montserrat-Black.ttf);
}
@font-face {
    font-family: montserrat-semiBold;
    src: url(../fonts/Montserrat-SemiBold.ttf);
}
@font-face {
    font-family: montserrat-medium;
    src: url(../fonts/Montserrat-Medium.ttf);
}

body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
    align-items: center;
}

.note {
    position: relative;
    width: 100%;
    height: 15%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 0px 0px 40px 40px;
}

#tempo {
    border: none;
    outline: none;
    margin-top: 25%;
    margin-left: 1%;
    font-size: 64px;
    font-family: montserrat-semiBold;
    background-color: #C5EEFF;
    color: #5E890F;
    appearance: none;
    width: 100%;
   
}

#tempo::-webkit-calendar-picker-indicator{
    display: none;
}

#dias_semana {
    width: 100%;
    height: 100%;
    border: 3px solid #5E890F;
    border-radius: 2px;
    color: #5E890F;
    font-size: 20px;
    background-color: #ffffff;
}

main {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-image: url("../svg/background-main.svg");
    overflow-y: scroll;
}

main > form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-image{
    margin-top:2vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
}

.title {
    width: 30%;
    padding: 8px;
    border-radius: 50px;
    font-family: montserrat-black;
    font-size: 28px;
    font-weight: bold;
    color: white;
    text-align: center;
    background-color: #8ECE16;
}

#tarefa {
    width: 65%;
    height: 7%;
    border-width: 0px 0px 3px 0px;
    border-style: none none solid none;
    border-color: #5E890F;
    background-color: #C5EEFF;
    margin-top: 20%;
}

#tarefa::placeholder {
    color: #5E890F;
    font-size: 24px;
}

.img-card {
    width: 50px;
    height: 50px;
}

.btns-horario {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.horario {
    margin-top: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family: montserrat-semiBold;
    color: #5E890F;
}

.horario > h1 {
    margin: 0% 5%;
}

.dias_da_semana {
    width: 65%;
    height: 50%;
    border-style: none none solid none;
    background-color: #C5EEFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 8%;
}

.op{
    width: 100%;
    height: 50%;
    color: #5E890F;
    background-color: #B0F1B3;
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0.5px  solid #859b5d;
    border-bottom: none;
}

#op-ultimo {
    border-bottom: 0.5px solid #859b5d;
}

.op > input {
    width: 17%;
    height: 70%;
}

.op > label {
    margin-left: 4%;
}

.dias_da_semana > P {
    color: #5E890F;
    font-size: 24px;
    font-family: montserrat-medium;
    margin: 0;
}

.dias_da_semana > img {
    width: 13%;
    height:65%;
}

#pronto {
    width: 50%;
    height: 50%;
    background-color: #FFD73D;
    margin-top: 10%;
    display: flex;
    border-radius: 60px;
    color: #ffffff;
    font-size: 20px;
    font-family: montserrat-semiBold;
    justify-content: center;
    align-items: center;
}

#deletar {
    width: 40%;
    height: 50%;
    background-color: #F15562;
    margin-top: 10%;
    display: flex;
    border-radius: 60px;
    color: #ffffff;
    font-size: 20px;
    font-family: montserrat-semiBold;
    justify-content: center;
    align-items: center;
}

.btns {
    width: 70%;
    height: 20%;
    display: flex;
    justify-content: space-between;
}

.footer {
    display: flex;
    position: fixed;
    flex-direction: row;
    width: 100%;
    height: 10%;
    bottom: 0px;
    padding: 20px;
    align-self: flex-end;
    justify-content: space-around;
    background-color: #ffffff;
}

.menu {
    border: none;
    background: none;
}
