*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: column;
    background-color: #a6f5ff;
    width: 100vw;
    height: 2500px;
    align-items: center;
}

.note{
    width: 100%;
    background-color: #ffffff;
    flex: 1;
    display: flex;
    border-radius: 0px 0px 40px 40px;
    flex-flow: column nowrap;
    align-items: center;
}

.img-tagarela {
    margin-top: 14%;
}

main {
    width: 100vw;
    flex: 4;
    background-image: url("../svg/background-main.svg");
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    padding-top: 4%;
}

.title{
    background-color: #8ECE16;
    text-align: center;
    width: 60%;
    padding: 10px;
    position: relative;
    border-radius: 80px;
    color: white;
    font-weight: bold;
    font-size: 28px;
    margin-top:-30px;
}

.card-1{
    background: radial-gradient(circle, #FFF065, #FFD73D);
    color: #F15562;
    border-radius: 18px;
    width: 76%;
    height: 27%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 40px;
    justify-content: space-evenly;
    margin-top: 10%;
    margin-bottom: 10%;
}

#last-card{
    margin-bottom: 30%;
}

.card-1 > p{
    justify-self: center;
}

.card-1 > img{
    margin-top: 10%;
}

.footer{
    width: 100%;
    background-color: #ffffff;
    height: 10%;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    position: fixed;
    align-self: flex-end;
    bottom: 0;

}

.menu{
    border: none;
    background: none;
}