.title{
    background-color: #DD2E44;
}
body{
    overflow-y: hidden;
}
.addList {
    background-color: #8ECE16;
    color: #ffffff;
    border-radius: 18px;
    width: 90%;
    height: 6%;
    min-height: 8%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    text-decoration: none;
    margin-bottom: 100px;
    font-family: montserrat-medium;
    font-size: 22px;
    align-items: center;
    max-width: 900px;
    &:hover{
        filter:brightness(90%)
    }
}

.lists {
    max-width: 850px;
    border: 10px solid transparent;
    border-radius: 10px;
    width: 100%;
    height: 8%;
    background-color: #B7F248;
    text-decoration: none;
    font-size: 20px;
    font-family: montserrat-semiBold;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    color: #5E890F;
    &:hover{
        filter:brightness(90%)
    }
}
.listas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 100px;
    height: 100%;
    width: 100%;
    gap: 10px;
}
.lists > p {
    margin-left: 0%;
}
.img-card {
    width: 50px;
    height: 50px;
    margin-left: 20%;
    color:#B7F248
}

.listas > a:nth-child(3) {
    background-color: #FFA7AE;
    color: #DD2E44;
}

.listas > a:nth-child(4) {
    background-color: #70B2FF;
    color: #115CA1;
}

#modal-listas {
    width: 60%;
    height: 35%;
    background-color: #ffffff;
    transform: translateY(120vh);
    transition: all .7s ease-in-out;
    border: none;
    display: flex;
    justify-self: center;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#modal-listas.translate {
    transform: translateY(67vh);
}

#modal-listas::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
}

#modal-listas > form {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
}

#modal-listas > form > h1 {
    margin-bottom: 0%;
    font-family: montserrat-bold;
}

#nome_lista {
    width: 93%;
    height: 13%;
    border:  2px solid #8ECE16;
    margin-bottom: 0%;
}

#nome_lista::placeholder {
    padding-left: 10px;
    font-size: 15px;
}

.enc {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
}

#enviar {
    width: 50%;
    height: 100%;
    background-color: #8ECE16;
    border: none;
    border-radius: 15px;
    font-family: montserrat-bold;
    color: #ffffff;
}

#fechar {
    width: 40%;
    height: 100%;
    background-color: #DD2E44;
    border: none;
    border-radius: 15px;
    flex-wrap: nowrap;
    font-family: montserrat-bold;
    color: #ffffff;
}

@media(max-width: 799px){
    .listas{
    gap: 0px;

    }
    .lists {
        border: 0px;
        border-radius: 0px;
    }
    
#modal-listas {
    width: 100%;
}
}