* {
    box-sizing: border-box;
}

@font-face {
    font-family: montserrat-bold;
    src: url(../fonts/Montserrat-Bold.ttf);
}
@font-face {
    font-family: montserrat-black;
    src: url(../fonts/Montserrat-Black.ttf);
}
@font-face {
    font-family: montserrat-semiBold;
    src: url(../fonts/Montserrat-SemiBold.ttf);
}
@font-face {
    font-family: montserrat-medium;
    src: url(../fonts/Montserrat-Medium.ttf);
}

body {
    margin: 0;
    padding: 0;
}

.container {
    background-color: #C5EEFF;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
}

.note {
    width: 100%;
    height: 15%;
    background-color: #ffffff;
    flex: 1;
    display: flex;
    position: fixed;
    border-radius: 0px 0px 40px 40px;
    flex-flow: column nowrap;
    align-items: center;
}

.img-tagarela {
    margin-top: 14%;
}

main {
    width: 100vw;
    flex: 4;
    background-image: url("../svg/background-main.svg");
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    padding-top: 10%;
}

.title {
    background-color: #F15562;
    text-align: center;
    width: 45%;
    padding: 10px;
    position: fixed;
    border-radius: 80px;
    color: white;
    font-family: montserrat-black;
    font-size: 28px;
    margin-top: 25%;
}

.addList {
    background-color: #8ECE16;
    color: #ffffff;
    border-radius: 18px;
    width: 90%;
    height: 6%;
    min-height: 8%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    text-decoration: none;
    margin-bottom: 7%;
    font-family: montserrat-medium;
    font-size: 22px;
    align-items: center;
}

.lists {
    width: 100%;
    height: 8%;
    background-color: #B7F248;
    text-decoration: none;
    font-size: 20px;
    font-family: montserrat-semiBold;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    color: #5E890F;
}

#firstList {
    margin-top: 25%;
}

#first-card {
    margin-top: 48%;
}

.lists > p {
    margin-left: 0%;
}
.img-card {
    width: 50px;
    height: 50px;
    margin-left: 20%;
    color:#B7F248
}

main > a:nth-child(3) {
    background-color: #FFA7AE;
    color: #DD2E44;
}

main > a:nth-child(4) {
    background-color: #70B2FF;
    color: #115CA1;
}

.footer{
    width: 100%;
    background-color: #ffffff;
    height: 10%;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.menu{
    border: none;
    background: none;
}