* {
    box-sizing: border-box;
}

@font-face {
    font-family: montserrat-bold;
    src: url(../fonts/Montserrat-Bold.ttf);
}
@font-face {
    font-family: montserrat-black;
    src: url(../fonts/Montserrat-Black.ttf);
}
@font-face {
    font-family: montserrat-semiBold;
    src: url(../fonts/Montserrat-SemiBold.ttf);
}
@font-face {
    font-family: montserrat-medium;
    src: url(../fonts/Montserrat-Medium.ttf);
}

body {
    margin: 0;
    padding: 0;
}

.note {
    width: 100%;
    height: 15%;
    background-color: #ffffff;
    flex: 1;
    display: flex;
    position: fixed;
    border-radius: 0px 0px 40px 40px;
    flex-flow: column nowrap;
    align-items: center;
}

.img-tagarela {
    margin-top: 14%;
}

main {
    width: 100vw;
    flex: 4;
    background-image: url("../svg/background-main.svg");
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    padding-top: 10%;
    overflow: hidden;
}

.title {
    background-color: #F15562;
    text-align: center;
    width: 45%;
    padding: 10px;
    position: fixed;
    border-radius: 80px;
    color: white;
    font-family: montserrat-black;
    font-size: 28px;
    margin-top: 25%;
}

.addList {
    background-color: #8ECE16;
    color: #ffffff;
    border-radius: 18px;
    width: 90%;
    height: 6%;
    min-height: 8%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    text-decoration: none;
    margin-bottom: 7%;
    font-family: montserrat-medium;
    font-size: 22px;
    align-items: center;
}

.lists {
    width: 100%;
    height: 8%;
    background-color: #B7F248;
    text-decoration: none;
    font-size: 20px;
    font-family: montserrat-semiBold;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    color: #5E890F;
}

#firstList {
    margin-top: 25%;
}

#first-card {
    margin-top: 48%;
}

.lists > p {
    margin-left: 0%;
}
.img-card {
    width: 50px;
    height: 50px;
    margin-left: 20%;
    color:#B7F248
}

main > a:nth-child(3) {
    background-color: #FFA7AE;
    color: #DD2E44;
}

main > a:nth-child(4) {
    background-color: #70B2FF;
    color: #115CA1;
}

.footer{
    width: 100%;
    background-color: #ffffff;
    height: 10%;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

#modal-listas {
    width: 100%;
    height: 35%;
    background-color: #ffffff;
    transform: translateY(120vh);
    transition: all 1s ease-in-out;
    border: none;
    display: flex;
    justify-self: center;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#modal-listas.translate {
    transform: translateY(67vh);
}

#modal-listas::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
}

#modal-listas > form {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
}

#modal-listas > form > h1 {
    margin-bottom: 0%;
    font-family: montserrat-bold;
}

#nome_lista {
    width: 93%;
    height: 13%;
    border:  2px solid #8ECE16;
    margin-bottom: 0%;
}

#nome_lista::placeholder {
    padding-left: 10px;
    font-size: 15px;
}

.enc {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-evenly;
}

#enviar {
    width: 50%;
    height: 100%;
    background-color: #8ECE16;
    border: none;
    border-radius: 15px;
    font-family: montserrat-bold;
    color: #ffffff;
}

#fechar {
    width: 40%;
    height: 100%;
    background-color: #DD2E44;
    border: none;
    border-radius: 15px;
    flex-wrap: nowrap;
    font-family: montserrat-bold;
    color: #ffffff;
}
