@font-face {
    font-family: montserrat-bold;
    src: url(../fonts/Montserrat-Bold.ttf);
}
@font-face {
    font-family: montserrat-black;
    src: url(../fonts/Montserrat-Black.ttf);
}
@font-face {
    font-family: montserrat-semiBold;
    src: url(../fonts/Montserrat-SemiBold.ttf);
}
@font-face {
    font-family: montserrat-medium;
    src: url(../fonts/Montserrat-Medium.ttf);
}


main > .card {
    border-radius: 18px;
    width: 75%;
    height: 12%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    text-wrap: nowrap;
}


.card > .img-card {
    width: 50px;
    height: 50px;
    margin-right: 10%;
}

.card > p {
    font-weight: bold;
    font-size: 22px;
    color: #ffffff;
    text-align: right;
    font-family: montserrat-medium;
}

main > .card:nth-child(1) {
    margin-top: 12%;
    background-color: #FFD73D;
}

main > a:nth-child(2) {
    background-color: #8ECE16;
}

main > a:nth-child(3) {
    background-color: #3DC3FA;
}

main > a:nth-child(4) {
    background-color: #F15562;
}

main > a:nth-child(5) {
    background-color: #FFD73D;
}

main > a:nth-child(6) {
    background-color: #8ECE16;
}