.card{
    background-color: #FFD73D;
    color: #ffffff;
    border-radius: 18px;
    width: 74%;
    height: 13%;
    min-height: 5%;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    margin-top: 7%;
    font-weight: bold;
    font-size: 22px;
    align-items: center;
}

.img-card {
    width: 50px;
    height: 50px;
    margin-left: 7%;
}

main > .card> p {
    color: #ffffff;
    margin-left: 10%;
}

main > a:nth-child(2) {
    background-color: #8ECE16;
    color: #000000;
    
}

main > a:nth-child(3) {
    background-color: #3DC3FA;
    color: #000000;
    
}

main > a:nth-child(4) {
    background-color: #F15562;
    color: #000000;
    
}

main > a:nth-child(5) {
    background-color: #FFD73D;
    color: #000000;
    
}

main > a:nth-child(6) {
    background-color: #8ECE16;
    color: #000000;
    
}