*::-webkit-scrollbar{
    display: none;
}


.cards > .card {
    border-radius: 18px;
    min-width: 400px;
    max-width: 600px;
    width: 40%;
    height: 12%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    justify-content: flex-start;
    text-wrap: nowrap;
    transition: all .7s;
    &:hover{
        filter: brightness(85%);
    }
}


.card > .img-card {
    margin-left: 25%;
    margin-right: 25px;
    width: 50px;
    height: 50px;
}

.card > p {
    font-weight: bold;
    font-size: 22px;
    color: #ffffff;
    text-align: right;
    font-family: montserrat-medium;

}

.cards > .card:nth-child(1) {
    background-color: #FFD73D;
}

.cards > a:nth-child(2) {
    background-color: #8ECE16;
}

.cards > a:nth-child(3) {
    background-color: #3DC3FA;
}

.cards > a:nth-child(4) {
    background-color: #F15562;
}

.cards > a:nth-child(5) {
    background-color: #FFD73D;
}

.cards > a:nth-child(6) {
    background-color: #8ECE16;
}


@media(max-width: 799px){
    
.cards > .card {
    border-radius: 18px;
    width: 75%;
    height: 12%;
    min-width: unset;
}


.card > .img-card {
    width: 50px;
    height: 50px;
    margin-left: 10%;
    margin-right: 25px;
    object-fit: contain;
}

}