*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: column;
    background-color: #a6f5ff;
    width: 100vw;
    height: 1500px;
    align-items: center;
}

.note{
    width: 100%;
    height: 15%;
    background-color: #ffffff;
    flex: 1;
    display: flex;
    border-radius: 0px 0px 40px 40px;
    flex-flow: column nowrap;
    align-items: center;
    position: fixed;
}

.img-tagarela {
    margin-top: 14%;
}

main {
    width: 100vw;
    flex: 4;
    background-image: url("../svg/background-main.svg");
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    padding-top: 4%;
}

.title{
    background-color: #8ECE16;
    text-align: center;
    width: 60%;
    padding: 10px;
    position: fixed;
    border-radius: 80px;
    color: white;
    font-weight: bold;
    font-size: 28px;
    margin-top:26%;
}

.card-1{
    background: radial-gradient(circle, #C3FF4F, #ABE936);
    color: #F15562;
    border-radius: 18px;
    width: 76%;
    height: 27%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 40px;
    justify-content: space-evenly;
    margin-top: 10%;
    margin-bottom: 10%;
}

#first-card{
    margin-top: 50%;
}

#last-card{
    margin-bottom: 30%;
}
.card-1 > p{
    justify-self: center;
}

.card-1 > img{
    margin-top: 10%;
}

.addCard {
    padding: 10px 40px;
    justify-content: center;
    align-items: center;
    background-color: #3DC3FA;
    color: #FFFFFF;
    border-radius: 20px;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}

.addCard > img {
    margin-right: 20px;
}

.footer {
    width: 100%;
    background-color: #ffffff;
    height: 10%;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    position: fixed;
    align-self: flex-end;
    bottom: 0;

}

.menu {
    border: none;
    background: none;
}

#modal-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: flex-end;
    justify-content: center;
    display: none;

}

#modal-container.ativo {
    display: flex;

}

#modal {
    width: 100vw;
    height: 580px;
    border-radius: 20px 20px 0px 0px;
    background-color: #ffffff;
    transform: translateY(100%);
    transition: transform 0.4s ease-in-out;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
#modal.ativo{
    transform: translateY(0);
}

