.title {
    background-color: #FFD73D;
}

.escolha-jogos{
    gap: 3%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.modo {
    width: 40%;
    height: 5vw;
    min-width: 400px;
    min-height: 100px;
    text-decoration: none;
    font-size: 20px;
    font-family: montserrat-semiBold;
    color: #fafafa;
    display: flex;
    flex-direction: row;
    border: 10px solid transparent;
    border-radius: 10px;
}
.escolha-categoria{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    align-items: center;
    &:hover{
        filter: brightness(85%);
        transition: all .5;
    }
}

.modo-facil {
    background-color: #8ECE16;

}
.modo-medio {
    background-color: #34B9CC;
}

.modo-dificil {
    background-color: #F15562;
}


.img-card {
    grid-column: 3;
    width: 50px;
    height: 50px;
    color:#B7F248;
    justify-self: flex-end;
    margin-right: 50px;
    
} 

.modo > p{
    margin-left: 15px;
    grid-column: 2;
}
.modo > .emoji {
    grid-column: 1;
    object-fit: contain;
    width: 50px;
    height: 50px

}
@media(max-width: 799px){
    .title {
        background-color: #FFD73D;
    }
    .escolha-jogos{
        padding-top: 20%;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .modo {
        width: 100%;
        height: 10vw;
        min-height: 70px;
        text-decoration: none;
        font-size: 20px;
        font-family: montserrat-semiBold;
        color: #fafafa;
        display: flex;
        flex-direction: row;
        
    }
    
    .img-card {
        grid-column: 3;
        width: 50px;
        height: 50px;
    } 
    
    .modo > .emoji {
        grid-column: 1;
        object-fit: contain;
        width: 50px;
        height: 50px
    }

}