* {
    box-sizing: border-box;
}

@font-face {
    font-family: montserrat-bold;
    src: url(../fonts/Montserrat-Bold.ttf);
}
@font-face {
    font-family: montserrat-black;
    src: url(../fonts/Montserrat-Black.ttf);
}
@font-face {
    font-family: montserrat-semiBold;
    src: url(../fonts/Montserrat-SemiBold.ttf);
}
@font-face {
    font-family: montserrat-medium;
    src: url(../fonts/Montserrat-Medium.ttf);
}
@font-face {
    font-family: montserrat-regular;
    src: url(../fonts/Montserrat-Regular.ttf);
}


.title {
    background-color: #FFD73D;
}

.escolha-jogos{
    gap: 3%;
    padding-top: 20%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.modo {
    width: 100%;
    height: 8%;
    text-decoration: none;
    font-size: 20px;
    font-family: montserrat-semiBold;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fafafa;
}
.modo-facil {
    background-color: #8ECE16;

}
.modo-medio {
    background-color: #34B9CC;
}

.modo-dificil {
    background-color: #F15562;
}


.img-card {
    width: 50px;
    height: 50px;
    color:#B7F248;
    justify-self: flex-end;
} 

.modo > p{
    margin-left: 15px;
}
.modo > img {
    margin-left: 40px;

}