* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body {
    background: radial-gradient(circle, #CBF0FF 25%, #8CDDFF 100%);
}

main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

main > section.cloud {
    display: inherit;
    justify-content: flex-end;
    padding-right: 10px;
}