            <nav class="footer">
                <a href="/main" class="menu"><img src="/svg/cards.svg" alt="" class="img-menu"></a>
                <a href="/praticar" class="menu"><img src="/svg/create-cards.svg" alt="" class="img-menu"></a>
                <a href="/listas" class="menu"><img src="/svg/alarms.svg" alt="" class="img-menu"></a>
            </nav>
        </div>
        <%- include("../components/jsLinks.ejs", { src: jsList }) -%>
    </body>
</html>