            <nav class="footer">
                <a href="/main" class="menu"><img src="/svg/cards.svg" alt="" class="img-menu"></a>
                <a href="/" class="menu"><img src="/svg/create-cards.svg" alt="" class="img-menu"></a>
                <a href="/" class="menu"><img src="/svg/alarms.svg" alt="" class="img-menu"></a>
            </nav>
        </div>
        <script src="/js/alimentos.js"></script>
    </body>
</html>