<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../components/cssLinks', { cssList: cssList }) -%>
    <title><%- title.toLowerCase() -%></title>
  </head>

  <body>
    <div class="container">
      <header class="note">
        <img src="/svg/tagarela.svg" class="img-tagarela">
        <h1 class="title"><%- title -%></h1>
      </header>
  